.jumbotron{
  padding-bottom: 0px;
  padding-top: 0;
  background: rgb(255, 255, 255);
}

.item img {
 height: auto;
 width: 100%;
 min-height: 300px;
 max-height: 600px;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    margin: auto;
}

.nav, .navbar {
  padding-bottom: 0;
  margin-bottom: 0;
}

.col-md-9{
	padding-left: 7%;
}

footer {
 font-size: .7em;
 text-align: center;
 list-style-type: none;
 margin-bottom: 5px;
}