.jumbotron{
  padding-bottom: 0px;
  padding-top: 0;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    margin: auto;
}

.nav, .navbar {
  padding-bottom: 0;
  margin-bottom: 0;
}