.jumbotron{
  padding-bottom: 0px;
  padding-top: 0;
  background: rgb(255, 255, 255);
}

.item img {
 height: auto;
 width: auto;
 min-height: 800px;
 max-height: 800px;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    margin: auto;
}

.nav, .navbar {
  padding-bottom: 0;
  margin-bottom: 0;
}

.col-md-9{
	padding-left: 7%;
}